header.header
	.container
		.header__logo
		.header__flex
				.logo__title
					nav.header__nav
						ul
							li.header_li: a(href="") О нас
							li.header_li: a(href="") Услуги
							li.header_li: a(href="") Вакансии
							li.header_li: a(href="") Новости
							li.header_li: a(href="") Соглашения 
				button(class="btn btn-log" type="button") Войти
				button(class="btn btn-reg" type="button") Зарегистрироваться