doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title Начинаем верстку шаблона
		style
			include ../css/main.css
			include ../css/fonts.css
	body
		include header
		main.main
				.container
					.main__title Заголовок о чем-то
						.main__text
							p Здесь будет некоторый текст. А пока что рыба
							p Здесь будет следующая рыба
		include footer